.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;

  color: #fff;
  width: 85%;
  height: 7%;
  border-radius: 30px;

}

.body:hover {
  background-color: #5a5a5a;
}

.body img {
  width: 10%;
  filter: brightness(0) invert(1);
}

.body span {
  margin-left: 5%;
  color: #fff;

}

a {
  margin : 0;
  outline : 0;
  padding : 0;
  text-decoration : none;
  text-decoration-color : inherit;
  text-decoration-line : none;
  text-decoration-style : solid;
  text-indent : 0;
  text-shadow : none;
  text-transform : none;
}